<!DOCTYPE html>
<html>
  <head>
  </head>
  <script src="../bower_components/angular/angular.js "></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <body ng-app="lcdi.widget.graphGenerator.settings" ng-controller="settingsController">
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-color-picker/dist/angularjs-color-picker.min.css" />
    <!-- only include if you use bootstrap -->
    <link rel="stylesheet" href="../bower_components/angular-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css" />

    <script src="../bower_components/tinycolor/dist/tinycolor-min.js"></script>
    <script src="../bower_components/angular-color-picker/dist/angularjs-color-picker.min.js"></script>

    <div class="overlay"></div>
     <div class="settings">
       <div class="settings-center">
         <div class="wrapper container modal-content">

           <div class="modal-header">
            <button type="button" class="close" ng-click="closeSettings()">
              <i class="fa fa-times half-top"></i>
            </button>
            <h3 class="modal-title">
              GraphVision Settings
              <a class="btn btn-link" href="https://gitlab.com/CalmBit/widget-graph-generator" target="_blank">
                <i class="fa fa-gitlab fa-2x icon-gray"></i>
              </a>
            </h3>

        <form role="form" name="settingsForm">
        <div class="modal-body">
        <h4>Data</h4>
        <div id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a id="noend" class = "collapsed" data-toggle="collapse" data-parent="#accordion" href="#noEndpoint" aria-expanded="false" aria-controls="noEndpoint">
                  Static Data (no endpoint)
                </a>
              </h4>
            </div>
            <div class="section panel-collapse collapse in" role="tabpanel" id="noEndpoint">
             <div class="row">
               <div class="col-sm-6">
                 <div class="form-group">
                   <label>Number Of Elements</label>
                     <input type="number" class="form-control" ng-model="settings.params.elementCount">
                 </div>
                </div>
               <div class="col-sm-6">
                 <div class="form-group">
                   <label>Elements (comma seperated list)</label>
                     <input type="text" class="form-control" ng-model="settings.params.elements">
                 </div>
               </div>
             </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a id="hasend" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#hasEndpoint" aria-expanded="false" aria-controls="hasEndpoint">
                  API Endpoint
                </a>
              </h4>
            </div>
            <div class="section panel-collapse collapse" role="tabpanel" id="hasEndpoint">
             <div class="row">
               <div class="col-sm-12">
                 <div class="form-group">
                   <label>URL To Endpoint:</label>
                     <input type="text" class="form-control" ng-model="settings.params.apiEndpoint">
                 </div>
                </div>
             </div>
            </div>
          </div>

        </div>
        <h4>Chart Type</h4>
          <select class="form-control" ng-model="settings.params.chartType">
            <option value="1" selected>Bar</option>
            <option value="2">Pyramid</option>
            <option value="3">Pie</option>
            <option value="4">Other</option>
          </select>
        <h4>Chart Sourcing</h4>
          <select class="form-control" ng-model="settings.params.chartSourcing">
            <option value="1" selected>Static Data</option>
            <option value="2">API Endpoint</option>
          </select>
        <h4>Background Colour</h4>
          <color-picker ng-model="settings.params.chartBackgroundColour"></color-picker>
        <h4>Title Colour</h4>
          <color-picker ng-model="settings.params.chartTitleColour"></color-picker>
        <br>
        <br>
        <!-- Modal Footer-->
        <div class="modal-footer">
          <!-- Button Toolbar -->
          <widget-button-toolbar save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid">
          </widget-button-toolbar>
        </div>
      </form>

          </div>
         </div>
       </div>
   </div>
   <script src="js/settings.js"></script>
   <script src="js/ctr-graph-generator-settings.js"></script>
   <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
   <script src="../bower_components/angular-translate/angular-translate.js"></script>
   <script src="../bower_components/rv-common-i18n/dist/i18n.js"></script>
   <script src="../bower_components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
   <script src="../bower_components/widget-settings-ui-components/dist/js/angular/widget-button-toolbar.js"></script>
   <script src="http://rvashow2.appspot.com/gadgets/gadgets.min.js"></script>
  </body>
</html>
